---
layout: layout.liquid
title: Water Bottle
---

{% navList 'Wallet' 'Buffalo Nickel' 'Water Bottle' %}

<img src="/images/bottle.png" alt="Water Bottle" class="floatImg">

<p>Here is an image of the water bottle I use everyday.</p>
<p>The reason why I can't leave home without is because I like to drink water while out and about on campus.</p>