---
layout: layout.liquid
title: Homepage
---

<p>Click on each image to learn more about them</p>

<a href="/wallet/"><img src="images/wallet.png" alt="Wallet"></a>
<a href="/nickel/"><img src="images/coin_front.png" alt="Buffalo Nickel"></a>
<a href="/bottle/"><img src="images/bottle.png" alt="Water Bottle"></a>