---
layout: layout.liquid
title: Buffalo Nickel
---

{% navList 'Wallet' 'Buffalo Nickel' 'Water Bottle' %}


<img src="/images/coin_front.png" alt="Head of Nickel" class="floatImg">
<img src="/images/coin_back.png" alt="Tails of Nickel" class="floatImg">

<p>Here is a picture of a Buffalo Nickel.</p>

<p>Back in high school, I started to collect old U.S. coins. I found them just by getting them back as change, and from old piggy banks I had laying around the house. </p>

<p>Now, for this coin to the left, it is a Buffalo Nickel. They were made during the years of 1913 to 1938. A kind of sad fact about them is that most of the detail on the coin was actually raised above the noraml thickniess of the coin. This would case most Buffalo Nickels to be very worn out, and lose the data they were made.</p> 

<p>The year this coin was made would be located right below where the back of neck of the Indian would be. You can't see it in this image, but there is a faint "191" in that area. So, that would mean this coin was minted around the mid to late 1910's. </p>

<p>The maian reason why I carry this around with me is because I use this thing as kind of lucky charm. It was one of the last coins I found right before I started college, and shortly after I started to lose intrest in the hobby. </p>