---
layout: layout.liquid
title: Wallet
---

{% navList 'Wallet' 'Buffalo Nickel' 'Water Bottle' %}

<img src="/images/wallet.png" alt="Wallet" class="floatImg">

<p>This is an image of my wallet.</p>

<p class="addMargin">As you have probably guessed, I can't leave home without it since it had my student ID and drivers licence in it.</p>