body {
    font-family: 'Courier New', Courier, monospace;
    color: #EAE8FF;
    background: #2D3142;
    padding: 0 40px;
    text-align: center;
}

img {
    height: 40em;
    margin: 10px;
}


.floatImg {
    float: left;
    
}

li {
  list-style-type: none;
}

.marginbottom {
    margin-bottom: 100 px;
}

a:link {
    color: #EAE8FF;
}

a:visited {
    color: #72A98F;
}

a:hover {
    color: #FB3640;
}

.addMargin {
    margin: 100px;
}

p{ 
    margin-right: 10em;
    margin-left: 10em;
}